{% extends 'base.html.twig' %}

{% block title %}
	{{parent()}}People
{% endblock %}

{% block body %}
	<h1 class="text-center">Infos Planete
	</h1>
	<div class="container  d-flex  justify-content-center ">
		<div class="card" style="width: 1000px;">
			<div class="card-body">

				<h5 class="card-title text-center">{{planet.name}}</h5>
				<h6 class="card-text mb-2 text-body-secondary text-center">Diameter:
					{{planet.diameter}}
					km</h6>
				<p class="card-text text-center ">Climate:
					{{planet.climate}}</p>
				<p class="card-text text-center">Gravity:
					{{planet.gravity}}</p>
				<p class="card-text text-center">Terrain:
					{{planet.terrain}}</p>


			</div>
		</p>
	</div>
</div>{% endblock %}
